<!--
<p *ngIf="auth.loggedIn()">User Logged</p>
<p *ngIf="!auth.loggedIn()">User Not Logged</p>
<button *ngIf="auth.loggedIn()" (click)="auth.logout()">Logout</button>
-->
<app-navbar></app-navbar>
<div class="correct unselect">
  <table class="table">
    <thead>
      <tr>
        <th class="text-center"></th>
        <th class="text-center">#</th>
        <th>Description</th>
        <th>Answer</th>
        <th>Subcategory</th>
        <th class="text-center">Score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let question of http.questions; let i=index">
        <td class="text-center">
          <mat-checkbox [(ngModel)]="question.selected"></mat-checkbox>
        </td>
        <td class="text-center" (click)="openview(i)">{{ i+1 }}</td>
        <td (click)="openview(i)">{{ shortdesc(i) }}</td>
        <td (click)="openview(i)">{{ question.answer }}</td>
        <td (click)="openview(i)">{{ shortcat(i) }}</td>
        <td class="text-center" (click)="openview(i)">{{ question.score }}</td>
      </tr>
    </tbody>
  </table>
</div>
