<div class="nav unselect">
  <div class="logo"><img src="https://i.ibb.co/qdRRdB0/Logo.png"></div>
  <div *ngIf="!auth.loggedIn()" class="score">32</div>
  <div *ngIf="auth.loggedIn()" class="score">32</div>
  <div class="user">
    <div *ngIf="!auth.loggedIn()" class="name">Nombre</div>
    <div *ngIf="auth.loggedIn()" class="name">{{ auth.user.email }}</div>
    <div (click)="auth.logout()" class="userlogo"><img src="https://img.pngio.com/profile-icon-png-image-free-download-searchpngcom-profile-icon-png-673_673.png"></div>
  </div>
</div>
<div class="menu unselect">
  <div class="options">
    <div class="roww" routerLink="/search" routerLinkActive="active">
      <div class="logo"><i class="fa fa-search"></i></div>
      <div class="name"><a>Buscador</a></div>
    </div>
    <div class="roww" routerLink="/saved" routerLinkActive="active">
      <div class="logo"><i class="fa fa-list-alt"></i></div>
      <div class="name"><a>Preguntas guardadas</a></div>
    </div>
    <div class="roww" routerLink="/history" routerLinkActive="active">
      <div class="logo"><i class="fa fa-history"></i></div>
      <div class="name"><a>Historial</a></div>
    </div>
    <div class="roww" routerLink="/config" routerLinkActive="active">
      <div class="logo"><i class="fa fa-cog"></i></div>
      <div class="name"><a>Configuracion</a></div>
    </div>
  </div>
  <div class="foot">
    <div class="roww" routerLink="">
      <div class="logo"><i class="fa fa-plus"></i></div>
      <div class="name"><a>Subir Pregunta</a></div>
    </div>
    <div class="roww" routerLink="/new">
      <div class="logo"><i class="fa fa-plus"></i></div>
      <div class="name"><a>Crear Examen</a></div>
    </div>
  </div>
</div>
